/* global settings */

html {
    background-color: #29252c;
    color: #d8e9f0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Poppins;
}

/* header settings */

h1 {
    color: #f33535;
    padding-left: 0.5rem;
}
header p {
    padding-left: 2rem;
}
nav {
    overflow: hidden;
    background-color: #33425b;
}

nav a {
    display: inline-block;
    color: #d8e9f0;
    padding: 14px;
    text-decoration: none;
    position: sticky;
}

a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


/* main content settings */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    align-content: center;
    justify-content: center;
    grid-auto-rows: repeat(1fr);
    position: relative;
}

h2 {
    margin: 2rem;
}

a {
    color:#f33535;
}
img {
    height: 300px;
}

.project {
    text-align: center;
    grid-column: 1 / span 3;
    padding-bottom: 2rem;
    border-bottom: 1px solid;
}

button {
    height: 2rem;
    padding: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #33425b;
    color:#f33535;
}

.links {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about {
    text-align: center;
    grid-row-start: 2;
    border-bottom: 1px solid;
}

#bio {
    padding: 1rem;
    background-color: #33425b;
    text-align: center;
}

.skills{
    text-align: center;
    grid-column: 2 / span 2;
    padding: 1rem;
    border-bottom: 1px solid;
}

.skills p:hover {
    color: #f33535;
}

.contact {
    grid-row-start: 3;
    text-align: center;
    grid-column: 1/ span 3;
    display: block;
    justify-content: center;
}

.contact p {
    padding: 1rem;
}

footer {
    text-align: center
}

@media only screen and (orientation: portrait) {
    main {
        display: block;
    }
}
